@import "css/parallax_layer";

*{
  box-sizing: border-box;
}

html,
body{
  background-color: #ffffff;
}
::-webkit-scrollbar {
display: none;
}

.parallax {
  perspective: 100px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: auto;
  left: 50%;
  right: 0;
  bottom: 0;
  margin-left: -1500px;
  padding-right: -5000px;
}

.parallax__layer{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  img{
    display: block;
    position: absolute;
    bottom: 0;
  }
}

.parallax__cover{
  background: #0b1308;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 789px;
  z-index: 2;
}
.center{
    position:absolute;
    width:3000px;
    height:650px;
    left:0%;
    top:70%;
    margin-left:0px;
    margin-top:-325px;
}
$parallax__layers: 6;

@for $i from 0 through $parallax__layers {
  $x: ($parallax__layers - $i) / 2;
  .parallax__layer__#{$i}{
     transform: translateZ(-100 * $x#{px}) scale($x + 1);
  }
}
